@font-face {
    font-family: "Inter Bold";
    src: url(./../Fontes/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter Light";
    src: url(./../Fontes/Inter-Light.ttf);
}

@font-face {
    font-family: "Inter Regular";
    src: url(./../Fontes/Inter-Regular.ttf);
}

:root {
    --font-bold: "Inter Bold";
    --font-regular: "Inter Regular";
    --font-light: "Inter Light";
    
    --color-preto: #000;
    --color-branco: #fff;
    --color-cinza-claro: #eee;
    --color-cinza-escuro: #d9d9d9;
    --color-azul-escuro: #1298f8;
    --color-azul-escuro-hover: #0d74be;
    --color-azul-claro: #e5f4ff;
    --color-sucesso: #48d05f;
    --color-sucesso-hover: #31833e;
    --color-atencao: #e92929;
    --color-atencao-hover: #9e1f1f;
}