main {
    display: flex;
    gap: 10px;
}

/*Geral*/
.modal__text {
    font-size: 1rem;
    font-family: var(--font-regular);
}
.text-bold{
    font-family: var(--font-bold);
    font-size: 1.25rem;
}
.text-uc {
    font-family: var(--font-regular);
    text-transform: uppercase;
    font-size: 1rem;
}

.text-regular {
    font-family: var(--font-regular);
    font-size: 1rem;
}

.bold-blue {
    font-family: var(--font-bold);
    color: var(--color-azul-escuro);
}

.totals-size {
    font-size: 1.5rem;
}

/*HEADER*/
.topo {
   background-color: var(--color-azul-claro);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 136px;
   font-family: var(--font-bold);
   font-size: 3rem;
}

.topo__Marca{
    color: var(--color-preto);
}

.topo__titulo {
    color: var(--color-azul-escuro);
    padding-left: 8px;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 104px;
    font-size: 1rem;
    background-color: var(--color-azul-claro);
    height: 144px;
    font-family: var(--font-regular);
    line-height: 24px;

}

.footer__icones {
    font-size: 1.25rem;
}

/*Cards Area*/
.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 32px 0;
}

.card-area__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 352px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
    gap: 36px;
    padding: 128px 24px;
}

.card-area__price {
    font-size: 1.5rem;
    font-family: var(--font-light);
}

.card-area__title {
    font-size: 2rem;
    font-family: var(--font-bold);
}

.card-area__img{
    width: 60%;
    min-width: 160px;
}

.card-area__button-add {
    color: var(--color-azul-escuro);
    font-size: 2rem;
    cursor: wait;
    margin-top: -56px;
}

.card-area__button-add:hover{
    color: var(--color-azul-escuro-hover);
}

.card-area__description {
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-regular);
    line-height: 24px;
}

/*Modal Area */

.bkg-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.bkg-modal--ativo {
    display: flex;
}

.bkg-modal--cancel {
    display: none;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 46px;
    border-radius: 25px;
    background-color: (var(--color-azul-claro));
    width: 850px;
    padding: 59px 50px;
}

.modal__img {
    width: 328  px;
}
.modal__details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 16px;
}

.modal__title {
    font-size: 2rem;
    font-family: var(--font-bold);
}
.modal__description {
    line-height: 24px;
}

.modal__option-area {
    background-color: var(--color-cinza-claro);
    border-radius: 16px;
    overflow: hidden;
}

.modal__option-area button{
    padding: 12px 16px;
}
.modal__option-area button:hover {
    background-color: var(--color-azul-escuro);
}


.modal__amount-price-area {
    display: flex;
    gap: 24px;
    align-items: center;
}

.modal__amount-price {
    font-family: var(--font-light);
    font-size: 1.5rem;
}

.modal__unit-control{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-regular);
    font-size: 1rem;
    background-color: #EEE;
    border-radius: 8px;
    gap: 8px;
    overflow: hidden;
}

.modal__unit-control button {
    padding: 0.6rem 0.8rem;
}
.modal__unit-control button:hover {
    background-color: var(--color-cinza-escuro);
}

.modal__btn-area{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn__green-btn {
    font-size: 1.25rem;
    font-family: var(--font-regular);
    color: #E5F4FF;
    background-color: #48d05f;
    padding: 8px 16px;
    border-radius: 1rem;
}
.btn__green-btn:hover{
    background-color: var(--color-sucesso-hover);
}

.btn__red-btn {
    font-size: 1.25rem;
    font-family: var(--font-regular);
    color: #E5F4FF;
    background-color: #E92929;
    padding: 8px 16px;
    border-radius: 1rem;
}
.btn__red-btn:hover{
    background-color: var(--color-atencao-hover);
}

